.banner {
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

/* seção de eventos */
.eventos__item {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-rows: auto repeat(2, 1f) auto;
   grid-template-areas: 
   "imagem imagem"
   "nome nome"
   "data data"
   "local botao"; 
}

.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3 {
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end;
}

.eventos__item button {
    grid-area: botao;
}


/* seção de agenda */

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   /* cria duas colunas que tenham a mesma proporção. */
    grid-template-rows: auto 1fr; /* faz com que a primeira linha tenha exatamente a mesma altura da imagem
     e o restante da altura seja direcionada para segunda linha */
}

.agenda__item img {
    grid-column: 1/3; /* faz com que a imagem ocupe as colunas 1 e2, do traço 1 ao 3 */
}


@media (min-width: 720px) {

    .banner {
        grid-template-columns: calc(50% - 0.75rem) auto auto;
        column-gap: 1.5rem;
    }

.banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
.banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

@media (min-width: 1440px) {

    .categorias {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        column-gap: 1.5rem;
        grid-template-areas: 
        "titulo titulo"
        "lista destaque";
    }

    .categorias__titulo {
        grid-area: titulo;
    }
    
    .categorias__item {
        grid-area: lista;
    }

    .categorias__destaques {
        grid-area: destaque;
        align-self: baseline;
    }

    .categorias__imagem {
        grid-area: destaque;
        align-self: end;
    }
}